extends layout

block content

  div(class="container-fluid")
  h1= title
  - let items=results
      div(class="container-fluid")
        
        div(class="row m-1")
        each item in items
          - let destination = `dispatch(\"/costumes/update?id=${item._id}\")`
          div(class="row-sm-2 m-1")  #{item.costume_type} - #{item.size} - #{item.cost}
            button.btn( class="btn-success ml-1", onclick= destination) update
    
  script.
       function dispatch(path) {
         window.location.href = path
       }
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      } 