block content
    h1= title
    - var list = results 
    //- div 
    //-     a(class="btn btn-primary", style="margin-right:5px", href=`/costume/create`) Add New Costume
    
    table(class="table table-stripped table-bordered")
        thead 
            tr 
                td Costume Type
                td Size 
                td Cost 
                td Action
        tbody 
            each item in list 
                tr
                    td #{item.costume_type}
                    td #{item.size}
                    td #{item.cost}
                    td 
                        //- div(class="d-flex ")
                        //-     a(class="btn btn-primary", style="margin-right:5px", href=` /costume/detail?id=${item.id}`) Details
                        //-     a(class="btn btn-secondary", style="margin-right:5px", href=` /costume/update?id=${item.id}`) Edit 
                        //-     a(class="btn btn-danger", style="margin-right:5px", href=` /costume/delete?id=${item.id}`) Delete